<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/login.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div class="inner">
          <div id="head">
            <a href="/">
              <img src="/img/Logo.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div id="login_wrap">
        <div class="inner">
          <div id="login_box">
            <div id="login_header">
              <span>관리자 로그인</span>
            </div>
            <div id="login_content_box">
              <div id="login_text">
                <span>로그인</span>
              </div>
              <form action="/admin/login" method="post">
                <div id="id_input_box">
                  <div id="id_input_text">ID</div>
                  <div id="id_input">
                    <input type="text" name="userId" />
                  </div>
                </div>
                <div id="pw_input_box">
                  <div id="pw_input_text">PW</div>
                  <div id="pw_input">
                    <input type="password" name="userPw" />
                  </div>
                </div>
                <button id="login_btn" type="submit">로그인</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
