<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
    <link rel="stylesheet" href="/css/admin/user_edit.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div class="inner">
          <div id="head">
            <a href="">
              <img src="/img/Logo.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div id="visual">
        <div class="inner">
          <div id="profile">
            <h2>회원정보수정</h2>
            <div id="textSpace">
              <form method="post" action="/admin/userEdit/?id={{result.id}}">
                <ul>
                  <li id="user_profile">
                    <p>사용자 정보</p>
                    <div id="user_modify_box">
                      <div>
                        <input type="hidden" id="userLevelCheck" value="{{result.userLevel}}" />
                        <select name="userLevel" id="user_level">
                          <option value="1">사용자</option>
                          <option value="2">관리자</option>
                        </select>
                      </div>
                      <div>
                        <input type="hidden" id="isUseCheck" value="{{result.isUse}}" />
                        <select name="isUse" id="is_use">
                          <option value="1">활성화</option>
                          <option value="0">비활성화</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li id="user_id">
                    <p>아이디</p>
                    <input type="text" id="userId" name="id" data-span="idSpan" placeholder="새로운 이름을 입력해주세요" value="{{result.id}}" />
                    <button id="id" type="submit">중복확인</button>
                    <span></span>
                  </li>
                  <li>
                    <p>비밀번호</p>
                    <input type="password" id="userPw" class="pw" name="pw" data-span="pwSpan" placeholder="새로운 비밀번호를 입력해주세요" />
                    <span></span>
                  </li>
                  <li>
                    <p>비밀번호 확인</p>
                    <input type="password" id="userRpw" class="pw" name="rpw" data-span="rpwSpan" placeholder="비밀번호를 다시 입력해주세요" />
                    <span></span>
                  </li>
                  <li id="user_name">
                    <p>이름</p>
                    <input type="text" id="userName" name="userName" data-span="nameSpan" placeholder="이름을 입력해주세요" value="{{result.userName}}" />
                    <span></span>
                  </li>
                  <li class="userNick">
                    <p>닉네임</p>
                    <input type="text" id="userNickName" name="nickName" data-span="nickNameSpan" placeholder="닉네임을 입력해주세요" value="{{result.nickName}}" />
                    <button id="nickName" type="submit">중복확인</button>
                    <span></span>
                  </li>
                  <li id="userBirth">
                    <p>생년월일</p>
                    <div>
                      <input type="text" id="userBirthyy" name="userBirthyy" data-span="birthyySpan" placeholder="년(4자)" value="{{result.userBirthyy}}" />
                      <input type="hidden" id="userBirthmmCheck" value="{{result.userBirthmm}}" />
                      <select name="userBirthmm" id="userBirthmm">
                        <option value="01">1월</option>
                        <option value="02">2월</option>
                        <option value="03">3월</option>
                        <option value="04">4월</option>
                        <option value="05">5월</option>
                        <option value="06">6월</option>
                        <option value="07">7월</option>
                        <option value="08">8월</option>
                        <option value="09">9월</option>
                        <option value="10">10월</option>
                        <option value="11">11월</option>
                        <option value="12">12월</option>
                      </select>
                      <input type="text" id="userBirthdd" name="userBirthdd" data-span="birthddSpan" placeholder="일" value="{{result.userBirthdd}}" />
                    </div>
                    <div id="birthFlex">
                      <span></span>
                      <span></span>
                    </div>
                  </li>
                  <li>
                    <p>성별</p>
                    <input type="hidden" id="userGenderCheck" value="{{result.gender}}" />
                    <select name="gender" id="userGender">
                      <option value="남자">남자</option>
                      <option value="여자">여자</option>
                    </select>
                  </li>
                  <li class="phone">
                    <p>휴대전화</p>
                    <div>
                      <input type="text" id="userPhone" name="userPhone" data-span="phoneSpan" value="{{result.userPhone}}" />
                      <input type="text" id="userPhoneMiddle" name="userPhoneMiddle" data-span="phoneMiddleSpan" value="{{result.userPhoneMiddle}}" />
                      <input type="text" id="userPhoneLast" name="userPhoneLast" data-span="phoneLastSpan" value="{{result.userPhoneLast}}" />
                    </div>
                    <div class="phoneFlex">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </li>
                  <li class="phone">
                    <p>일반전화(선택)</p>
                    <div>
                      <input type="text" id="userCall" name="userCall" data-span="callSpan" value="{{result.userCall}}" />
                      <input type="text" id="userCallMiddle" name="userCallMiddle" data-span="callMiddleSpan" value="{{result.userCallMiddle}}" />
                      <input type="text" name="userCallLast" data-span="callLastSpan" value="{{result.userCallLast}}" />
                    </div>
                    <div class="phoneFlex">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </li>
                  <li>
                    <button id="modifyBtn" type="submit">수정하기</button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="inner"></div>
      </div>
    </div>
    <script src="/js/admin/user_select.js"></script>
    <script src="/js/admin/user_double_check.js"></script>
  </body>
</html>
