<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css" />
    <script type="text/javascript" src="../public/js/index.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div class="inner">
          <div id="logo_board">
            <div>
              <a href="#"><img src="../public/img/Logo.png" alt="LOGO" /></a>
            </div>
            <div id="board_btn"><a href="list.html">게시판</a></div>
          </div>
          <div id="login_join">
            <a id="login_btn" href="login.html">로그인</a>
            <a id="join_btn" href="join.html">회원가입</a>
          </div>
        </div>
      </div>
      <div id="slide">
        <div class="inner">
          <div id="slide_box">
            <img id="slide_img1" src="../public/img/slide_img_1.svg" alt="slide_img-1" />
            <img id="slide_img2" src="../public/img/slide_img_2.svg" alt="slide_img-2" />
          </div>
          <a href="javascript:" id="start_stop_btn"></a>
          <div id="slide_now_box">
            <a href="javascript:" id="slide_left_btn"></a>
            <a href="javascript:" class="circle"></a>
            <a href="javascript:" class="circle"></a>
            <a href="javascript:" id="slide_right_btn"></a>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="inner">
          <div id="content_box">
            <div id="member_box">
              <div id="member_header">팀원</div>
              <div class="member">박경철</div>
              <div class="member">이민수</div>
              <div class="member">이은지</div>
            </div>
            <div id="popular_box">
              <div id="popular_header"><a href="#">인기 게시물</a></div>
              <div class="pupular_contents">
                <div id="title"><a href="#">테스트 제목</a></div>
                <div id="writer">관리자</div>
                <div id="date">22-12-25</div>
                <div id="views">조회수 0</div>
              </div>
              <div class="pupular_contents">
                <div id="title"><a href="#">테스트 제목</a></div>
                <div id="writer">관리자</div>
                <div id="date">22-12-25</div>
                <div id="views">조회수 0</div>
              </div>
              <div class="pupular_contents">
                <div id="title"><a href="#">테스트 제목</a></div>
                <div id="writer">관리자</div>
                <div id="date">22-12-25</div>
                <div id="views">조회수 0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="skill">
        <div class="inner">
          <div id="skill_box">
            <div id="skill_header">SKILL</div>
            <div id="skill_content">
              <div id="html_css"><img src="../public/img/html_css.svg" alt="html_css" /></div>
              <div id="js"><img src="../public/img/javascript.svg" alt="javascript" /></div>
              <div id="nodejs"><img src="../public/img/nodejs.svg" alt="nodejs" /></div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="inner">
          <div id="footer_logo"><img src="../public/img/Logo_footer.svg" alt="" /></div>
          <div id="footer_contents_box">
            <div>주소 : <a href="https://github.com/kyungcheol1/4team" target="_blank">https://github.com/kyungcheol1/4team</a></div>
            <div>제작 : 박경철 이민수 이은지</div>
            <div>기간 : 221226 - 221230</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
