<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원가입</title>
        <link rel="stylesheet" href="/css/user/join.css" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="inner">
                    <div id="head">
                        <a href="">
                            <img src="/img/Logo.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <div id="visual">
                <div class="inner">
                    <div id="join">
                        <h2>회원가입</h2>
                        <div id="textSpace">
                            <form method="post" action="/user/join" id="inputform">
                                <ul id="inputBox">
                                    <li class="userId">
                                        <p>아이디</p>
                                        <input type="text" name="id" id="userId" placeholder="아이디를 입력해주세요" />
                                        <button id="checkid" type="submit">중복확인</button>
                                        <span></span>
                                    </li>
                                    <li class="userPw">
                                        <p>비밀번호</p>
                                        <input type="password" name="pw" id="userPw" placeholder="비밀번호를 입력해주세요" />
                                        <span></span>
                                    </li>
                                    <li class="userRpw">
                                        <p>비밀번호 확인</p>
                                        <input type="password" name="userRpw" id="userRpw" placeholder="비밀번호를 다시 입력해주세요" />
                                        <span></span>
                                    </li>
                                    <li class="userName">
                                        <p>이름</p>
                                        <input type="text" name="userName" id="userName" placeholder="이름을 입력해주세요" />
                                        <span></span>
                                    </li>
                                    <li class="userNick">
                                        <p>닉네임</p>
                                        <input type="text" name="nickName" id="userNickname" placeholder="닉네임 입력해주세요" />
                                        <button>중복확인</button>
                                        <span></span>
                                    </li>
                                    <li id="userBirth">
                                        <p>생년월일</p>
                                        <div>
                                            <input type="text" name="userBirthyy" id="userBirthyy" placeholder="년(4자)" />
                                            <select name="userBirthmm" id="userBirthmm">
                                                <option value="01">1월</option>
                                                <option value="02">2월</option>
                                                <option value="03">3월</option>
                                                <option value="04">4월</option>
                                                <option value="05">5월</option>
                                                <option value="06">6월</option>
                                                <option value="07">7월</option>
                                                <option value="08">8월</option>
                                                <option value="09">9월</option>
                                                <option value="10">10월</option>
                                                <option value="11">11월</option>
                                                <option value="12">12월</option>
                                            </select>
                                            <input type="text" name="userBirthdd" id="userBirthdd" placeholder="일" />
                                        </div>
                                        <span></span>
                                    </li>
                                    <li class="userGender">
                                        <p>성별</p>
                                        <select name="gender" id="userGender">
                                            <option value="남자">남자</option>
                                            <option value="여자">여자</option>
                                        </select>
                                        <span></span>
                                    </li>
                                    <li class="phone">
                                        <p>휴대전화</p>
                                        <div>
                                            <input type="text" name="userPhone" id="userPhone" />
                                            <input type="text" name="userPhoneMiddle" id="userPhoneMiddle" />
                                            <input type="text" name="userPhoneLast" id="userPhoneLast" />
                                        </div>
                                        <span></span>
                                    </li>
                                    <li class="phone">
                                        <p>일반전화(선택)</p>
                                        <div>
                                            <input type="text" name="userCall" />
                                            <input type="text" name="userCallMiddle" />
                                            <input type="text" name="userCallLast" />
                                        </div>
                                        <span></span>
                                    </li>
                                    <li>
                                        <button id="inputbtn" type="submit">가입하기</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="inner"></div>
            </div>
        </div>
        <script type="text/javascript" src="/js/user/join.js"></script>
    </body>
</html>

