<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>profile</title>
        <link rel="stylesheet" href="/css/user/profile.css" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="inner">
                    <div id="head">
                        <a href="/">
                            <img src="/img/Logo.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <div id="visual">
                <div class="inner">
                    <div id="profile">
                        <h2>Profile</h2>
                        <div id="textSpace">
                            <form id="inputform" method="post" action="/user/profile">
                                <ul>
                                    <li class="fixed">
                                        <p>아이디</p>
                                        <input type="text" name="id" value="{{list.id}}" readonly />
                                    </li>
                                    <li class="userPw">
                                        <p>비밀번호</p>
                                        <input id="userPw" type="password" name="pw" placeholder="새로운 비밀번호를 입력해주세요" value="{{list.pw}}" />
                                        <span></span>
                                    </li>
                                    <li class="userRpw">
                                        <p>비밀번호 확인</p>
                                        <input id="userRpw" type="password" name="userRpw" placeholder="비밀번호를 다시 입력해주세요" value="{{list.pw}}" />
                                        <span></span>
                                    </li>
                                    <li class="fixed">
                                        <p>이름</p>
                                        <input type="text" name="userName" value="{{list.userName}}" readonly />
                                    </li>
                                    <li class="userNick">
                                        <p>닉네임</p>
                                        <input id="beforenick" type="hidden" value="{{list.nickName}}" />
                                        <input id="userNickname" type="text" name="nickName" placeholder="새로운 닉네임 입력해주세요" value="{{list.nickName}}" />
                                        <button type="click" id="nickcheckbtn">중복확인</button>
                                        <span>변경이 가능합니다.</span>
                                    </li>
                                    <li id="userBirth">
                                        <p>생년월일</p>
                                        <div>
                                            <input id="userBirthyy" type="text" name="userBirthyy" placeholder="년(4자)" value="{{list.userBirthyy}}" />
                                            <input type="hidden" name="userBirthmmname" id="userBirthmmname" value="{{list.userBirthmm}}" />
                                            <select name="userBirthmm" id="userBirthmm">
                                                <option value="01">1월</option>
                                                <option value="02">2월</option>
                                                <option value="03">3월</option>
                                                <option value="04">4월</option>
                                                <option value="05">5월</option>
                                                <option value="06">6월</option>
                                                <option value="07">7월</option>
                                                <option value="08">8월</option>
                                                <option value="09">9월</option>
                                                <option value="10">10월</option>
                                                <option value="11">11월</option>
                                                <option value="12">12월</option>
                                            </select>
                                            <input id="userBirthdd" type="text" name="userBirthdd" placeholder="일" value="{{list.userBirthdd}}" />
                                        </div>
                                        <span class="userBirthyy"></span>
                                        <span class="userBirthmm"></span>
                                        <span class="userBirthdd"></span>
                                    </li>
                                    <li class="userGender">
                                        <p>성별</p>
                                        <input type="hidden" id="userGender" value="{{list.gender}}" />
                                        <select name="gender" id="gender">
                                            <option value="남자">남자</option>
                                            <option value="여자">여자</option>
                                        </select>
                                    </li>
                                    <li class="phone">
                                        <p>휴대전화</p>
                                        <div>
                                            <input id="userPhone" type="text" name="userPhone" value="{{list.userPhone}}" />
                                            <input id="userPhoneMiddle" type="text" name="userPhoneMiddle" value="{{list.userPhoneMiddle}}" />
                                            <input id="userPhoneLast" type="text" name="userPhoneLast" value="{{list.userPhoneLast}}" />
                                        </div>
                                        <span class="userCall"></span>
                                        <span class="userCallMiddle"></span>
                                        <span class="userCallLast"></span>
                                    </li>
                                    <li class="phone">
                                        <p>일반전화(선택)</p>
                                        <div>
                                            <input type="text" name="userCall" value="{{list.userCall}}" />
                                            <input type="text" name="userCallMiddle" value="{{list.userCallMiddle}}" />
                                            <input type="text" name="userCallLast" value="{{list.userCallLast}}" />
                                        </div>
                                    </li>
                                    <li>
                                        <button id="inputbtn" type="submit">수정하기</button>
                                    </li>
                                </ul>
                            </form>
                            <div id="delete">
                                <button><a class="deletea" href="/user/delete">회원탈퇴</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="inner"></div>
            </div>
        </div>
        <script text="text/javascript" src="/js/user/profile.js"></script>
    </body>
</html>

