#top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#top > h4 {
    width: 70%;
    color: black !important;
}

#top > ul > li {
    display: inline-block;
    padding: 14px 0;
}

#top > ul > li:last-child {
    padding-right: 20px;
}

#viewContent > a {
    float: right;
    padding: 20px 20px 20px 0;
}

#viewContent > #content {
    margin: 0 auto;
    padding: 50px 20px 30px 20px;
    min-height: 300px;
}

#viewContent > button {
    float: right;
    width: 90px;
    height: 50px;
    margin-right: 20px;
    background: #9a62e6;
    border: 0;
    border-radius: 7px;

    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: white;
}

#reply {
    min-height: 150px;
    margin: 0 20px 40px 20px;
}

#reply > span {
    font-weight: bold;
}

#reply > input {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    border: #d2daff solid 1px;
    border-radius: 7px;
}

#reply > input::placeholder {
    padding: 20px 17px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #d2daff;
}

/* 입력하면 보이는 댓글창 */

#reply > div {
    width: 95%;
    margin: 0 auto;
}

#reply > div > ul > li {
    height: 40px;
    border-top: #d2daff solid 1px;
}

#reply > div > ul > li:first-child {
    border: none;
}

#reply > div > ul > li > span {
    padding-top: 5px;
    display: inline-block;
}

#reDate {
    float: right;
}

#reWriter {
    width: 10%;
    padding-right: 10px;
    font-weight: bold;
}

#reContent {
    width: 70%;
}
