<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="/css/board/header.css" rel="stylesheet" />
        <link href="/css/board/list.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div id="wrap">
            <!-- 헤더 -->
            <div id="header">
                <div class="inner">
                    <h1 id="logo">
                        <img src="/img/Logo.png" />
                    </h1>
                    <div id="menu">
                        <ul>
                            <li><a href="/board/list">게시판</a></li>
                        </ul>
                    </div>
                    <div id="user">
                        <ul>
                            <li><a href="/user/profile">회원정보</a></li>
                            <li><a href="/user/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 컨텐츠 -->
            <div id="contents">
                <div class="inner">
                    <!-- 게시판 리스트 -->
                    <h1>게시판</h1>
                    <table id="boardContent">
                        <tbody>
                            <tr id="top">
                                <th class="index">번호</th>
                                <th class="title">제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                                <th>조회수</th>
                            </tr>
                            {% for item in list %}
                            <tr id="subject">
                                <td>{{loop.index}}</td>
                                <td class="title">
                                    <a href="/board/view?index={{item.idx}}">{{item.title}}</a>
                                </td>
                                <td>{{item.writer}}</td>
                                <td>{{item.registerDate}}</td>
                                <td>{{item.hit}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- 게시판 리스트 끝 -->

                    <!-- 버튼 -->
                    <div id="button">
                        <button id="btn" onclick="location.href='/board/write'">글쓰기</button>
                    </div>
                    <!-- 버튼 끝 -->

                    <!-- 페이징 -->
                    <div id="paging">
                        <ul>
                            <li><a href="#">◀</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">▶</a></li>
                        </ul>
                    </div>
                    <!-- 페이징 끝 -->
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/js/board/list.js"></script>
</html>
