<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="/css/board/header.css" rel="stylesheet" />
        <link href="/css/board/view.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div id="wrap">
            <!-- 헤더 -->
            <div id="header">
                <div class="inner">
                    <h1 id="logo">
                        <img src="/img/Logo.png" />
                    </h1>
                    <div id="menu">
                        <ul>
                            <li><a href="/board/list">게시판</a></li>
                        </ul>
                    </div>
                    <div id="user">
                        <ul>
                            <li><a href="/user/profile">회원정보</a></li>
                            <li><a href="/user/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 컨텐츠 -->
            <div id="contents">
                <div class="inner">
                    <h1>게시판</h1>
                    <div id="boardContent">
                        <div id="top">
                            <h4>{{list.title}}</h4>
                            <ul>
                                <li>{{list.writer}}</li>
                                <span>│</span>
                                <li>{{list.registerDate}}</li>
                                <span>│</span>
                                <li>조회수 {{list.hit}}</li>
                            </ul>
                        </div>
                        <div id="viewContent">
                            <a href="/board/modify?index={{list.idx}}">수정</a>
                            <a id="deleteBtn">삭제</a>
                            <div id="content">{{list.content}}</div>
                            <button id="listBnt" onclick="location.href='/board/list'">글목록</button>
                        </div>
                        <div id="reply">
                            <span><img src="/img/Vector.png" /> 댓글 0개</span><br />
                            <br />
                            관리자
                            <br />
                            <input type="text" name="reply" placeholder="댓글 입력하기" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 삭제 경고창 자바스크립트 -->
        <script type="text/javascript">
            const deleteBtn = document.querySelector("#deleteBtn");

            const deleteHandler = (e) => {
                if (!confirm("정말 삭제하시겠습니까?")) {
                    return false;
                } else {
                    location.href = "/board/delete?index={{list.idx}}";
                }
            };

            deleteBtn.addEventListener("click", deleteHandler);
        </script>
    </body>
</html>
