<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="/css/board/header.css" rel="stylesheet" />
        <link href="/css/board/view.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div id="wrap">
            <!-- 헤더 -->
            <div id="header">
                <div class="inner">
                    <h1 id="logo">
                        <img src="/img/Logo.png" />
                    </h1>
                    <div id="menu">
                        <ul>
                            <li><a href="/board/list">게시판</a></li>
                        </ul>
                    </div>
                    <div id="user">
                        <ul>
                            <li><a href="/user/profile">회원정보</a></li>
                            <li><a href="/user/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 컨텐츠 -->
            <div id="contents">
                <div class="inner">
                    <h1>게시판</h1>
                    <div id="boardContent">
                        <div id="top">
                            <h4>제목입니다</h4>
                            <ul>
                                <li>관리자</li>
                                <span>│</span>
                                <li>22-12-25</li>
                                <span>│</span>
                                <li>조회수 0</li>
                            </ul>
                        </div>
                        <div id="viewContent">
                            <a href="/board/modify">수정</a>
                            <a href="/board/delete">삭제</a>
                            <div id="content">글 내용 어쩌구저쩌구</div>
                            <button id="listBnt">글목록</button>
                        </div>
                        <div id="reply">
                            <span><img src="/img/Vector.png" /> 댓글 0개</span><br />
                            <br />
                            관리자
                            <br />
                            <input type="text" name="reply" placeholder="댓글 입력하기" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

