<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>Write!</h2>
        <form method="post" action="/write">
            <ul>
                <li>
                    <input
                        type="text"
                        name="title"
                        placeholder="제목을 입력해주세요"
                    />
                </li>
                <li>
                    <br />
                    <textarea
                        name="content"
                        placeholder="내용을 입력해주세요"
                    ></textarea>
                </li>
            </ul>

            <button type="submit">등록</button>
        </form>
    </body>
</html>
